body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

html,
body,
#map {
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.lorem {
    font-style: italic;
    color: #AAA;
}

.ui-front {
    z-index: 9999;
}

.sidebar-pane {
    background-color: #f8f9fa;
}

#settings .form-label {
    font-weight: bold;
}

#monthlyFeeValue {
    min-width: 60px;
    text-align: center;
}